@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');
:root {
    --logo-color: #000000;
    --accent-color:#2196f3;
    --main-text-color: #757575;
    --address-color: rgba(255, 255, 255, 0.6);
    --h-color-text: #212121;
    --header-bcolor: #FFFFFF;
    --hero-bcolor: #2f303a;
    --whatwedo-bcolor: #f5f5f5;
    --team-bcolor: #f5f4fa;
}

body{
    background-color: var(--header-bcolor);
    font-family: Roboto, sans-serif;
    color: var(--h-color-text);
    letter-spacing: 0.03em;
    font-size: 14px;
}
.visually-hidden {
    position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
  
/* Header markup */
.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.logotype {
    color:var(--accent-color);
    font-weight: 700;;
    font-size: 26px;
    line-height: 1.19;
}
.second-logotype-style {
    color:#000000;
}
.site-nav-link {
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

}
.site-nav-link a{
    text-decoration: none;
}

.link-item,
.link-port {
    font-weight: 500;
    color:var(--h-color-text);

}
.link-studio-active {
    color:var(--accent-color);
}
.link-port-active{
    color:var(--accent-color);
}
.link-studio{
    color: #212121;
}
.site-nav-link, .link-studio:focus,
.link-item:focus,
.link-port:focus,
.link-studio:hover,
.link-item:hover,
.link-port:hover {
    color: var(--accent-color);
}
.link-studio-active:hover,
.link-port-active:hover{
    color:var(--accent-color);
}
.contacts-nav-link {
    list-style-type: none;
}

.nav-mail, .nav-phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}
.nav-phone {
    color: #757575;
}
.nav-mail {
    color: var(--main-text-color);
}
 .nav-mail:focus,.nav-mail:hover {
   color:var(--accent-color);
}
.nav-phone:focus, .nav-phone:hover{
    color:var(--accent-color);
 }
.contacts-nav-link a{
text-decoration: none;
}
.contacts-nav .nav-mail:hover {
    color: var(--accent-color)
}
/*Hero-color*/
.hero-color, .text {
    background-color: var(--hero-bcolor);
}
.text {
    color: var(--header-bcolor);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
}

.button-order {
    background-color: var(--accent-color);
    color: var(--header-bcolor);
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.06em; 
    font-size: 16px;
}
/* Our Benefits*/

.well-being ul{
    list-style-type: none;
}
.benefits {
    color: var(--h-color-text);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.benefits-text {
    color: var(--main-text-color);
    font-size: 14px;
    line-height: 1.71;
}
.what-we-do {
    list-style-type: none;
}

.what-wedo-list {
    color:#212121;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}

/* Our Team */
.programists-pictures ul {
    list-style-type:none;
}
.programists-pictures {
    background-color: var(--team-bcolor);
}
.team-title {
    color:#212121;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}
.members-team {
    background-color: var(--team-bcolor);
}
.team-title {
    color: var(--h-color-text);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}
.team-name {
    color: var(--h-color-text);
    font-weight: 500; 
    font-size: 16px; 
    line-height: 1.17;
    text-align: center;
}
.job-title {
    color: var(--main-text-color); 
    font-size: 16px; 
    line-height: 1.17;
    text-align: center;
}
.bottom-space {
    background-color: var(--hero-bcolor);
}
.logotype {
    color: var(--accent-color);
}
.logowhite {
    font-family: Raleway, sans-serif;
    color: var(--header-bcolor);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.7;
    text-decoration: none;
}
.map {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    text-decoration: none;
    letter-spacing: 3%;
}

.bottom-space a{
    text-decoration: none;
}

.address-link {
    color:var(--header-bcolor)
}
.address-bottom {
    color: var(--address-color);
}
.bottom-space ul{
    list-style-type: none;
}
/* Second maket */

.main-button {
    background-color: var(--accent-color);
    color: var(--header-bcolor);
    font-size: 16px;
    line-height: 1.6;
    padding: 6px 22px;
    border-radius: 4px;
    border:none;
    font-weight: 500;
    font-family: inherit;
    letter-spacing: 0.03em;
    line-height:0.5em;;
    cursor: pointer;
}


.button-wrapper  {
    list-style-type: none;
}

.button-gray {
    background-color: var(--team-bcolor);
    color: var(--h-color-text);
    padding: 6px 22px;
    border-radius: 4px;
    border:none;
    font-weight: 500;
    font-size: 16px;
    font-family: inherit;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.button-wrapper, .main-button:focus,
.main-button{
    color:var(--header-bcolor);
}
.button-gray:hover{
    background-color:var(--accent-color);
    color:#FFFFFF;
}
.main-content .photo-portfolio-list p {
    color: var(--main-text-color);
    font-size: 16px;
    line-height: 1.8;
}
.photo-portfolio-list li{
    list-style: none;
}
.photo-portfolio-list ul{
    text-decoration: none;
}
.photo-portfolio-header{
    color: var(--h-color-text);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.none-style{
    text-decoration: none;
}
/* Footer add work */
.address-link:hover,
.address-link:focus,
.address-bottom:focus,
.address-bottom:hover {
    color:#2196f3;
}